[ req ]
prompt              = no
distinguished_name  = req_distinguished_name

[ req_distinguished_name ]
O       = ACME

# shall be aligned with SGP.23 value #TEST_DP_ADDRESS1
CN      = testsmdpplus1.example.com

