set debug true
set echo true

select ADF.ISD

establish_scp02 --key-dek $KEY_DEK --key-enc $KEY_ENC --key-mac $KEY_MAC --key-ver 112 --security-level 3
get_data issuer_identification_number
get_status isd
release_scp

establish_scp02 --key-dek $KEY_DEK --key-enc $KEY_ENC --key-mac $KEY_MAC --key-ver 112 --security-level 1
get_data issuer_identification_number
get_status isd
release_scp
